@model MAS_Core.Models.Wagon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Wagon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WagonID" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadQty" class="control-label"></label>
                <input asp-for="LoadQty" class="form-control" />
                <span asp-validation-for="LoadQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadType" class="control-label"></label>
                <select asp-for="LoadType" class="form-control"></select>
                <span asp-validation-for="LoadType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WagonType" class="control-label"></label>
                <input asp-for="WagonType" class="form-control" />
                <span asp-validation-for="WagonType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
